/* ~~~~		2.		BACKGROUND						~~~~ */

body::before,
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
body::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
}
body::after {
	backdrop-filter: blur(var(--backgroundblur));
}
.layer-86YKbF {
	z-index: 1000;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before,
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
.container-2RRFHK::before,
.layer-86YKbF ~ .layer-86YKbF::before,
.root-2zfUH6::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
	background-attachment: fixed;
}
.container-2RRFHK::after,
.layer-86YKbF ~ .layer-86YKbF::after,
.root-2zfUH6::after {
	background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
	backdrop-filter: blur(var(--backgroundblur));
}
.uploadArea-2Nu_Vc,
.backdrop-1BR_bn,
.backdrop-2ByYRN {
	background: transparent !important;
	opacity: 1 !important;
	animation: none !important;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before,
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -2;
}
.uploadArea-2Nu_Vc::before,
.backdrop-1BR_bn::before,
.backdrop-2ByYRN::before {
	background: var(--backdrop) var(--backdropposition)/var(--backdropsize);
	background-attachment: fixed;
}
.uploadArea-2Nu_Vc::after,
.backdrop-1BR_bn::after,
.backdrop-2ByYRN::after {
	backdrop-filter: blur(var(--backdropblur));
}
.withLayer-2VVmpp {
	z-index: -1;
}